<h1>Edit <%=@landmark.name%></h1>
<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Edit Landmark Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name" value="<%=@landmark.name%>">
</form>
